<div class="container>">
    <div class="row pt-4 pb-3">
        <div class="col-6">
            <h2 class="text-dark">
                Hautatu kudeatu nahi duzun arloa
            </h2>
        </div>
        <div class="col-6 text-end">
            
        </div>

    </div>
    <table class="table table-bordered table-striped">
        <tbody>
            <tr>
                <th>
                    <a asp-controller="arraza" asp-action="Index" class="btn btn-success">
                        <i class="bi bi-plus-circle"></i> Arrazak
                    </a>
                </th>
            </tr>
        </tbody>

    </table>
</div>
