@{
    ViewData["Title"] = "Home Page";
}


<section id="hero">
    <div class="hero-container">
        <h1>Welcome to Amoeba</h1>
        <h2>We are team of talented designers making websites with Bootstrap</h2>
        
    </div>
   
</section><!-- #hero -->

