@{
    ViewData["Title"] = "Home Page";
}

<div class="big-image" style="background-image:url('')"

<!-- section class="hero">
    
    <div class="hero-container has-bg-img">

        <img class="bg-img" src="~/img/hero-background.jpg" />
    </div>
   
</section> #hero -->

