@{
    ViewData["Title"] = "Home Page";
}
<html>
<body >
    <
    <header class="masthead w-100 text-center text-white" style="background-image:url('/images/homepage/ciervo.jpg'); height:800px">
        <div class="masthead-content">
            <div class="container px-5">
                <h1 class="masthead-heading ">BIZI FAUNA PARKEA</h1>


            </div>
        </div>
    </header>
<!-- intro -->
    <section class="pb-5">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6">
                    <div class="p-5"><img class="img-fluid rounded  " src="~/images/homepage/blake-guidry-J6803ULieac-unsplash.jpg" alt="..." /></div>
            </div>
            <div class="col-lg-6">
                <div class="p-5">
                        <h2 class="display-2">Ongi etorri gure Zoologikora..."</h2>
                        <p>Murgildu zaitez mirari naturalen munduan, non bizitza basatiaren aniztasuna zain duzun izkina bakoitzean.</p>
                       
                           <p> Gure zoologikoa ez da bizitza basatia miresteko lekua bakarrik , baita ikasketa interaktiboko zentro bat ere.
                        Hezkuntza-programa zirraragarriak eskaintzen ditugu, adin guztietako bisitariei naturaren mundu 
                        liluragarria esploratzeko eta gure ingurumen ederra kontserbatzearen garrantzia ulertzeko aukera ematen dietenak.</p>
                    </div>
            </div>
        </div>
    </div>
    </section>
    




    <!-- img-->
    <!-- Gallery -->
    <div class="row align-items-center">
        <div class="col-lg-4 mb-4 mb-lg-0" style="height:900px" >
            <div class="w-100 shadow-1-strong rounded mb-4" style="background-image:url('/images/homepage/christian-englmeier-U6VPKGL6CXw-unsplash.jpg');height:668px; background-size:cover">
              
            </div>
            <p class="text-center">Gure animali-fauna esploratzera animatu. </p>
            <div class="text-center  ">
                <a class="btn btn-success btn-xl rounded-pill " asp-controller="Arraza" asp-action="List">Ikusi Animaliak</a>
            </div>

        </div>

        <div class="col-lg-4 mb-4 mb-lg-0" style="height:900px">
            <div class="w-100 shadow-1-strong rounded mb-4" style="background-image:url('/images/homepage/joshua-forbes-DMBL4Ns-x2M-unsplash.jpg');height:668px; background-size:cover">
            </div>
            <p class="text-center">Animaliekin elkar egin eta sakonago ezagutu. </p>
            <div class="text-center ">
                <a class="btn btn-success btn-xl rounded-pill center " asp-controller="" asp-action="">ezagutu</a>
            </div>
         
          
        </div>

        <div class="col-lg-4 mb-4 mb-lg-0" style="height:900px">
            <div class="w-100 shadow-1-strong rounded mb-4 " style="background-image:url('/images/homepage/pupet.jpg');height:668px; background-size:cover; ">
            </div>
            <p class="text-center">Egin zure eguna ahaztezina dendako produktuekin. </p>
            <div class="text-center ">
                <a class="btn btn-success btn-xl rounded-pill center " asp-controller="" asp-action="">Denda</a>
            </div>
          
        </div>
        

   
<section>
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6">
                <div class="p-5"><img class="img-fluid rounded-circle" src="~/img/02.jpg" alt="..." /></div>
            </div>
            <div class="col-lg-6">
                <div class="p-5">
                    <h2 class="display-4">We salute you!</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Content section 3-->
<section>
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5"><img class="img-fluid rounded-circle" src="~/img/03.jpg" alt="..." /></div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">Let there be rock!</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.</p>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
    
</html>
<!-- Footer-->
