@model ArrazaVM

<form method="post">
    <input asp-for="Arraza.ID" hidden />
    <div clasModelOnlys="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Ezabatu Arraza</h2>
            <hr />
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="Arraza.Izena" class="p-0"></label>
            <input asp-for="Arraza.Izena" disabled class="form-control" />
            <span asp-validation-for="Arraza.Izena" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="Arraza.Deskribapena" class="p-0"></label>
            <input asp-for="Arraza.Deskribapena" disabled class="form-control" />
            <span asp-validation-for="Arraza.Deskribapena" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="Arraza.ID_lekua" class="p-0"></label>
            <select asp-for="Arraza.ID_lekua" disabled asp-items="@Model.LekuakList" class="form-select">
                <option disabled selected>--Hautatu Lekua--</option>
            </select>
            <span asp-validation-for="Arraza.ID_lekua" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="Arraza.ImageUrl" class="p-0"></label>
            <img src="@Model.Arraza.ImageUrl" width="100px" style="border-radius:5px; border:1px solid #bbb9b9" />
        </div>
        <div class="row">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-danger form-control">Delete</button>
            </div>
            <div class="col-6 col-md-3">
                <a asp-controller="Arraza" asp-action="Index" class="btn btn-secondary border form-control">
                    Back to List
                </a>
            </div>
        </div>

    </div>

</form>


